$f1Red: #ff1801;

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/spaW.jpg");
  height: auto;
  min-height: 100vh;
}


.ImageGallery {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  overflow: auto;


  h1 {
    font-family: "Arial Black";
    font-style: italic;
    font-size: xx-large;
    font-weight: bolder;
    color: $f1Red;

  }


  .driverimg {
    align-content: center;
    max-width: 470px;
    max-height: 470px;
    border-radius: 10px;
    background-image: url("../images/bg.jpg");
  }
}

.row-div {
  display: flex;
  justify-content: center;
  align-items: center;
}


.nextButton{
  background: none;
  border: none;

  .nextbtn{
    rotate: 90deg;
  }
}

.prevButton{
  background: none;
  border: none;

  .prevbtn{
    rotate: 270deg;
  }
}

h2{
  color: #FFF200;
  font-weight: bolder;
  font-size: 23px;
}

.driver-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  border-radius: 10px;
  background-image: url("../images/checkered.jpg");
  //opacity:70%;


  h2 {
    color: $f1Red;
  }

  p {
    color: white;
    font-weight: bolder;
  }

  img {
    max-width: 280px;
    max-height: 100px;
    border-radius: 10px;
  }

  .teamButton{
    padding: 15px;
    border-radius: 40px;
    background: $f1Red;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    font-weight: bolder;

    &:hover{
      background: black;
      color: $f1Red;
      font-weight: bolder;
    }
  }
}

.highlight {
  background-color: black;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
